<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button color="tertiary" routerLink="/signup">
        {{ "singIn.signUp" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="light">{{ "singIn.title" | translate }}</ion-text>
      </h1>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="tertiary">{{ "singIn.subText" | translate }}</ion-text>
      </p>
    </div>

    <!-- Login form -->
    <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">
      <ion-item color="dark" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          {{ "singIn.email" | translate }}
        </ion-label>
        <ion-input color="tertiary" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item color="dark" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed-outline"></ion-icon>
          {{ "singIn.password" | translate }}
        </ion-label>
        <ion-input color="tertiary" formControlName="password" type="password" placeholder="Your password"></ion-input>
      </ion-item>

      <ion-button class="ion-margin-top" type="submit" expand="block" size="large" color="tertiary">
        {{ "singIn.signIn" | translate }}
      </ion-button>

      <ion-button color="light" fill="clear" expand="block" class="ion-button-small ion-margin-top-medium" routerLink="/password-reset">
        {{ "singIn.forgotPassword" | translate }}
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy;{{current_year}}{{ "singIn.devCopy" | translate }}</small>
      </ion-text>
    </div>

  </div>

</ion-content>
