<ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
      <ion-icon name="logo-ionic" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">{{ 'appName' | translate }}</ion-text>
      </h3>

      <ion-list [style.width]="'20%'">
        <ion-item>
          <ion-select aria-label="Language selection" interface="action-sheet" placeholder="{{ 'selectLanguage' | translate }}"
                      (ionChange)="changeLang($event.detail.value)" value="en">
            <ion-select-option value="en">EN</ion-select-option>
            <ion-select-option value="fr">FR</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <p class="animate__animated animate__fadeInUp">
        <ion-text color="small">{{ 'welcome.p1.heading1' | translate }}</ion-text>
        <br>
        <ion-text color="medium">{{ 'welcome.p1.heading2' | translate }}</ion-text>
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="logo-capacitor" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">{{ 'welcome.p2.heading1' | translate }}</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">{{ 'welcome.p2.heading2' | translate }}</ion-text>
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="stats-chart" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">{{ 'welcome.p3.heading1' | translate }}</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">{{ 'welcome.p3.heading2' | translate }}</ion-text>
      </p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" *ngIf="!standalone" expand="block" size="large" color="secondary" (click)="addToHomeScreen()">{{ 'welcome.download' | translate }}</ion-button>
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="nextSlide()" *ngIf="!last_slide">
    {{ 'welcome.next' | translate }}
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="getStarted()" *ngIf="last_slide">
    {{ 'welcome.getStarted' | translate }}
  </ion-button>
</ion-footer>
